.top-story-head {
    font-size: 26px;
    font-weight: 700;
    margin: auto;
    width: 1100px;
}
.feature-section-top-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.story-section-container {
    width: 1100px;
    margin: auto;
    display: flex;
    gap: 15px;
    border-radius: 5px;
}
.story-section {
    width: 170.8px;
    height: 235px;
    position: relative;
    overflow: hidden;
}
.story-section-img:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}
.story-section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story {
    background-color: #00b0f4;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 2px 3px;
    margin-right: 3px;
    align-content: center;
    border-radius: 3px;   
}
.background-darken {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(transparent, transparent, hsl(0, 70%, 0%));
}
.story-section-logo {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: -160.8px;
    z-index: 1;
}
.story-description {
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 10px;
    z-index: 1;
    bottom: 30px;
    height: 31px;
    transition: all 0.5s;
    overflow: hidden;
    text-align: justify;
}
.story-description:hover {
    transform: translateY(0px);
    height: 80px;
}
.watched-symbol {
    position: relative;
    width: 13.86px;
}
.watched {
    position: relative;
    font-size: 12px;
    color: #ffffff;
   font-weight: 700;
   margin-left: 10px;
   top: -30px;
}
.story-option-button {
    background: none;
    border: none;
}
